<script>
export default {
  props: {
    ymaps: {
      type: Object,
      required: true
    },
    map: {
      type: Object,
      required: true
    },
    coordinates: {
      type: Array,
      required: true
    },
    balloon: {
      type: Object,
      default: () => ({})
    },
    icon: {
      type: Object,
      default: () => ({})
    }
  },
  mounted() {
    const placemark = new this.ymaps.Placemark(this.coordinates, this.balloon, this.icon)
    this.map.geoObjects.add(placemark)
  },
  render() { }
}
</script>

<style>
</style>
