<template>
  <div>
    <div
      class="yandex-map"
      ref="yandexMap"
    ></div>
    <template v-if="Boolean(ymaps) && Boolean(this.map)">
      <slot
        :ymaps="ymaps"
        :map="map"
      />
    </template>
  </div>
</template>

<script>
import YaMapApiLoader from './YaMapApiLoader';

export default {
  name: 'YaMapLoader',
  props: {
    mapConfig: Object,
    apiKey: String
  },
  data() {
    return {
      ymaps: null,
      map: null
    }
  },
  async mounted() {
    const ymaps = await YaMapApiLoader({
      apiKey: this.apiKey
    })

    this.ymaps = ymaps
    this.initializeMap()
  },
  methods: {
    initializeMap() {
      const mapContainer = this.$refs.yandexMap
      this.map = new this.ymaps.Map(mapContainer, this.mapConfig)
    }
  }
}
</script>

<style>
.yandex-map {
  width: 100%;
  min-height: 100%;
}
</style>
