<template>
  <div id="app">
    <ya-map-loader
      id="my-map"
      api-key="d578b980-3c82-4c22-9019-655b82880c34"
      :mapConfig="mapConfig"
    >
      <template slot-scope="{ ymaps, map }">
        <ya-map-placemark
          :ymaps="ymaps"
          :map="map"
          v-for="(placemark, index) in placemarkList"
          :key="index"
          v-bind="{ ...placemark, icon: { ...placemark.icon } }"
        />
      </template>
    </ya-map-loader>
  </div>
</template>

<script>
import YaMapLoader from './components/YaMapLoader';
import YaMapPlacemark from './components/YaMapPlacemark';
import placemarkList from './placemarkList';
import pin24 from './mapIcons/pin24';

export default {
  name: 'app',
  data() {
    return {
      mapConfig: {
        center: [55.87, 37.66],
        zoom: 10
      },
      placemarkList: placemarkList
    }
  },
  components: {
    YaMapLoader,
    YaMapPlacemark
  },
  methods: {
    pin24(ymaps) {
      return pin24(ymaps)
    }
  }
}
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

#my-map {
  width: 500px;
  height: 500px;
}
</style>
